body {
  -webkit-font-smoothing: antialiased !important;
}


aside.main-sidebar.sidebar-dark-primary.elevation-4 {
  background-image: url('https://lms-admin.app/storage/images/bg.svg?v=1620469277'), linear-gradient( 141deg, #1781d0 0%, #1f81b6 51%, #2d7cb0 100%) !important;
}

.el-card.box-card.layout-card.is-never-shadow {
  /* border: 1px solid rgba(0, 0, 0, 0.125) !important; */
  border: none !important;
  background-color: transparent !important
}
.el-card.course-card.is-hover-shadow .el-card__body {
  height: 100%;
}
.course-card-content-wrapper {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
  background-size: cover;
  overflow: hidden;
}

.course-card.course-add-card.md-card.md-card-chart.md-theme-default {
  border: 1px solid rgba(0, 0, 0, 0.13);
}

.course-card-details-wrapper {
  padding: 14px;
  background-color: rgba(255, 255, 255, 1);
  position: absolute;
  width: 100%;
  z-index: 2;
  overflow: hidden;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  bottom: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.088) !important;
  // border: 1px solid rgba(0, 0, 0, 0.130);
}
.el-page-header__content {
  font-size: 14px !important;
  color: rgba(48, 49, 51, .63) !important;
  font-weight: 200 !important;
}
.flex-grow-1 {
  flex-grow: 1 !important;
  margin-top: 2;
  padding-top: 10px;
}
a.m-link span {
  font-size: 12px !important;
  font-weight: 400;
}
a.m-link i {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  width: auto;
  font-size: 18px;
  margin-bottom: 12px;

  text-align: center;
}

ul.menu-list.grid.d-flex.flex-wrap.border.rounded.mx-auto li {
  flex: 1 1 auto !important;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  flex: 1 1 auto !important;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  display: list-item;
  text-align: -webkit-match-parent;
  list-style: none;
}
.sidebar .menu-list.grid li .m-link {
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s;
  color: var(--color-100) !important;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  width: 98px;
  height: 98px;
}
ul.menu-list.grid.d-flex.flex-wrap.border.rounded.mx-auto li.active {
  color: var(--secondary-color);
}

ul.menu-list.grid.d-flex.flex-wrap.border.rounded.mx-auto li {
  /* transform: scale(1.2) !important; */
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s !important;
  color: var(--color-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  width: 98px;
  height: 98px;
  transition: ease 0.3s;
  color: var(--color-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  width: 98px;
  height: 98px;
  color: var(--color-100);
  color: #fff;
}
ul.menu-list.grid.d-flex.flex-wrap.border.rounded.mx-auto li:hover {
  background-color: var(--secondary-color);
  background-color: rgba(65, 182, 250, .49) !important;
  color: #191818;
  box-shadow: 0 0 12px rgba(25, 24, 24, .20);
  transform: scale(1.2) !important;
  text-decoration: none !important
  ;
}
a.m-link {
  -moz-transition: ease 0.3s;
  -o-transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  transition: ease 0.3s !important;
  color: var(--color-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  width: 98px;
  height: 98px;
  transition: ease 0.3s;
  color: var(--color-100);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 5px;
  width: 98px;
  height: 98px;
  color: var(--color-100);
  color: #fff;
  text-decoration: none !important;
}
ul.menu-list.grid.d-flex.flex-wrap.border.rounded.mx-auto {
  border-bottom: none !important;
  width: 200px;
  list-style: none;
  border-radius: 0.25rem !important;
  margin-right: auto !important;
  display: list-item;
  list-style: none;
  text-align: -webkit-match-parent;
  margin-left: auto !important;
  padding: 0;
  border: 1px solid rgba(255,255,255,0.1) !important;
  flex-wrap: wrap !important;
  display: flex !important;
  margin-top: 0;
  margin-bottom: 1rem;
  flex: 1 1 auto !important;
  border-bottom: 1px solid rgba(255,255,255,0.1);
  text-decoration: none;
  background-color: transparent;
}
  
.main-header .nav-link {
  height: auto !important;

}
nav.main-header {
  border-bottom-left-radius: 0px !important;
  z-index: 4 !important;
}


.component-fade-enter-active, .component-fade-leave-active {
  transition: opacity .3s ease;
}
.component-fade-enter, .component-fade-leave-to
/* .component-fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
.sortable-ghost{
  opacity: .8;
  color: #fff!important;
  background: #42b983!important;
}
.preview-show {
  visibility: visible;
}
.preview-not-show {
  /* visibility: hidden; */
  visibility: hidden;
}
.edit-preview:hover {
  border-color: #409EFF;
  color: #409EFF;
}

.el-upload__input {
  display: none !important;
}




label.el-form-item__label {
  font-size: 14px !important;
  font-weight: 300 !important;
  font-family: sans-serif !important;
  color: rgba(60, 72, 88, .80) !important;
}


.avatar-uploader .el-upload.el-upload--picture-card
 {
    background-color: #fbfdff;
    border: 1px dashed #c0ccda;
    border-radius: 6px;
    box-sizing: border-box;
    width: 300px !important;
    height: 300px !important;
    line-height: 146px;
    vertical-align: top;
}

.avatar-uploader .el-upload.el-upload--picture-card i {
  vertical-align: bottom !important;
}

.logo-name-second {
  font-weight: 300 !important;
  padding-left: 5px;
  color: white;
  font-family: revert !important;
  font-size: 24px !important;
}
a.m-link:hover {
  color: white !important;
}
a.m-link:focus {
  color: rgba(255, 255, 255, .55);
}
.logo-name-first {
  font-weight: 400; 
  padding-left: 5px; 
  color: rgba(140, 208, 255, 1) !important;
  font-family: revert !important;
  font-size: 24px !important;
}

.logo-name-third {
  color: #003255 !important;
  font-size: 14px !important;
  font-weight: 400 !important;
}
ul.menu-list .active {
  border: 1px solid rgba(111, 196, 247, .48) !important;
  background-color: rgba(173, 216, 230, .11) !important;
}
a.m-link.active{
  border: 1px solid rgba(111, 196, 247, .48) !important;
  background-color: rgba(173, 216, 230, .11) !important;
  color: #fff !important;
}
li.el-upload-list__item.is-success {
  width: 300px;
  height: 300px;
}

.md-card:hover [data-header-animation=true] {
  -webkit-transform: translate3d(0,-50px,0);
  transform: translate3d(0,-50px,0);
}

.card:hover .course-item-actions {
  display: block;
  position: absolute;
  z-index: 55;
  width: 100%;
  height: 50px;
  bottom: 15%;
  background-color: white;
  // opacity: 1;
  visibility: visible;
}


.course-item-actions {
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 50px;
  bottom: 15%;
  background-color: white;
  // opacity: 0;
  transition: opacity .6s ease-out;
  -moz-transition: opacity .6s ease-out;
  -webkit-transition: opacity .6s ease-out;
  -o-transition: opacity .6s ease-out;
  // visibility: hidden;
  border-left: 1px solid rgba(0, 0, 0, 0.130);
  border-right: 1px solid rgba(0, 0, 0, 0.130);
}

.md-card-header.animated.md-card-header-blue:hover {
  -webkit-transform: translate3d(0,-50px,0);
  transform: translate3d(0,-50px,0);
    
}



// .md-card:hover {
//   -webkit-transform: translate3d(0,-50px,0);
//   transform: translate3d(0,-50px,0);
// }

.md-card [data-header-animation=true] {
  -webkit-transition: all .3s cubic-bezier(.34,1.61,.7,1);
  transition: all .3s cubic-bezier(.34,1.61,.7,1);
}

.md-card-header.animated.md-card-header-blue {
  // margin-top: -20px;
  background-position: center !important;
  padding: 0!important;
  min-height: 160px;
  // box-shadow: 0 12px 20px -10px rgba(0, 188, 212, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(0, 188, 212, 20);
  background: linear-gradient(60deg,#26c6da,#00acc1);
  border-radius: 4px;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
  background-size: cover;
    
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.md-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  // margin: 30px 0;
  overflow: unset;
  // font-size: .875rem;
  // -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  // box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14%);
  border-radius: 6px;
  color: #333;
  background: #fff;
}

.md-card.md-theme-default, .md-card.md-theme-default .md-card-expand .md-card-actions {
  background-color: #fff;
  background-color: var(--md-theme-default-background,#fff);
}

.md-card.md-theme-default {
  // border: 1px solid rgba(0, 0, 0, 0.125) !important;
  color: rgba(0,0,0,.87);
  color: var(--md-theme-default-text-primary-on-background,rgba(0,0,0,.87));
}

.md-card {
  // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .20), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  position: relative;
  z-index: 1;
  border-radius: 2px;
  transition: .3s cubic-bezier(.4,0,.2,1);
  transition-property: color,background-color;
  will-change: color,background-color;
}

.course-item-action-icon i:hover {
  color: #2083bd;
}

.course-item-action-icon i {
  font-size: 13px !important;
  font-weight: 100 !important;
  -webkit-transition: color 0.3s; /* For Safari 3.0 to 6.0 */
        transition: color 0.3s; /* For modern browsers */
  padding-top: 13px !important;
  position: inherit !important;
  display: block !important;
  transform: translateY(0) !important;
  height: 50px !important;
}

.course-item-action-icon {
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  height: 100%;
  background: #fff;
  -webkit-transition: background-color 0.2s; /* For Safari 3.0 to 6.0 */
  transition: background-color 0.2s; /* For modern browsers */
}
.course-item-action-icon:hover {
  padding-left: 5px;
  padding-right: 5px;
  display: block;
  height: 100%;
  background-color: rgba(243, 243, 243, 1);  
}

.page-header-title {
  color: #3c4858 !important;
  font-size: 15px;
  font-weight: 400;
  padding: 10px 0;
  font-family: Roboto,Helvetica,Arial,sans-serif;
  border: none !important;
  -webkit-font-smoothing: antialiased;
      padding-bottom: 9px;
    /* margin: 40px 0 20px; */
    display: inline-block;
    border-bottom: 1px solid #eeeeee;
}
.el-page-header{
  display: inline-block !important;
}
.el-card__header {
  border-bottom: 1px solid rgba(213, 213, 213, .39) !important;
}
span.page-header-btn-wrapper {
  display: block;
  float: right;
}

span.image-url {
  position: absolute;
  left: 0;
}

.avatar-uploader {
  height: 300px;
  display: block;
  overflow: hidden;
  /* background: red; */
}

.search-filter-icon {
  display: block;
  cursor: pointer;
  transition: color 0.3s;
  font-size: 18px;
}

.search-filter-icon:hover {
  color: #2083bd;
}

.filter-data {
  display: block;
  // width: 500px;
}

.filter-data-wrapper {
  margin-top: 20px;
  display: inline-flex;
  width: 100%;
}

// .lms-btn-primary {

// }

input.el-input__inner {
  font-weight: 300 !important;
  font-family: revert !important;
}

span.page-title {
  display: inline-block;
  font-size: initial;
  font-weight: 400;
  padding-top: 13px;
  font-family: revert;
  color: #868686;
}

.el-card.box-card.layout-card {
  border: none !important;
}

.el-card.box-card.layout-card .el-card__header {
  padding-bottom: 5px !important;
  border: none !important;
}

.edit-preview-container i{
  margin-top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  font-size: 28px;
  color: #fff;
  font-weight: 100;
}

.edit-preview-container {
  vertical-align: baseline;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  width: 100%;
  text-align: center;
  height: 100%;
  background-color: rgba(5, 5, 5, .47);
}

.el-alert--info.is-light {
  background-color: #fdf6ec !important;
  color: #c88015 !important;
  border: 1px solid rgba(242, 136, 25, .27) !important;
  font-style: italic !important;
  font-weight: 400;
  font-family: sans-serif;
  // background-color: rgba(255, 158, 90, .7) !important;
  // color: #535353 !important;
  // border: 1px solid rgba(242, 136, 25, .27) !important;
}

.no-image {
  display: block;
  margin-top: 50px;
}

.no-image i {
  font-size: 25px;
  color: grey;
}

.el-table.manageCourseTable.el-table--fit.el-table--border.el-table--enable-row-hover.el-table--enable-row-transition th {
  background-color: #535353 !important;
  color: #fff !important;
}

.featured {
  position: absolute;
  background-color: orange;
  margin-top: -5px;
  margin-left: -5px;
  z-index: 23 !important;
  border-bottom-right-radius: 7px;
  padding: 5px;
}

.featured i.feature-star {
  color: #fff !important;
  font-size: 12px !important;
  display: contents !important;
  padding: 5px !important;
  color: #fff !important;
}

.md-card.md-theme-default {
  background-color: #fff;
  background-color: var(--md-theme-default-background,#fff);
}
.md-card.md-theme-default {
  color: rgba(0,0,0,.87);
  color: var(--md-theme-default-text-primary-on-background,rgba(0,0,0,.87));
}

.md-card-plain {
  background: transparent!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}

.md-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
  width: 100%;
  // margin: 30px 0;
  overflow: unset;
  // font-size: .875rem;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  box-shadow: 0 1px 4px 0 rgba(0, 0 ,0, .14);
  border-radius: 6px;
  color: #333;
  background: #fff;
}

.md-card {
  // box-shadow: 0 3px 1px -2px rgba(0, 0, 0, .20), 0 2px 2px 0 rgba(0, 0, 0, .14), 0 1px 5px 0 rgba(0, 0, 0, .12);
  position: relative;
  z-index: 1;
  border-radius: 2px;
  transition: .3s cubic-bezier(.4,0,.2,1);
  transition-property: color,background-color;
  will-change: color,background-color;
}

.timeline.timeline-simple {
  margin-top: 30px;
  padding: 0 0 20px;
}

.timeline {
  list-style: none;
  padding: 20px 0 20px;
  position: relative;
  margin-bottom: 0px !important;
  margin-top: 20px;
}

.timeline.timeline-simple:before {
  left: 5%;
  background-color: #e5e5e5;
}

.timeline:before {
  display: none !important;
  top: 50px;
  bottom: 0;
  position: absolute;
  content: " ";
  width: 3px;
  background-color: #e5e5e5;
  left: 50%;
  margin-left: -1px;
}

.timeline>li {
  margin-bottom: 20px;
  position: relative;
}

.timeline>li:after, .timeline>li:before {
  content: " ";
  display: table;
}

.timeline>li>.timeline-badge.danger {
  background-color: #f44336;
  -webkit-box-shadow: 0 12px 20px -10px rgba(244, 67, 54, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(244, 67, 54, .20);
  box-shadow: 0 12px 20px -10px rgba(244, 67, 54, .28), 0 4px 20px 0 rgba(0, 0, 0, .12), 0 7px 8px -5px rgba(244, 67, 54, .20);
}

.timeline.timeline-simple>li>.timeline-badge {
  left: 5%;
}

.timeline>li>.timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 51px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 16px;
  left: 50%;
  margin-left: -24px;
  z-index: 100;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border-bottom-left-radius: 50%;
}

.timeline .timeline-inverted .timeline-badge i, .timeline .timeline-simple .timeline-badge i {
  line-height: inherit;
  color: #fff;
}

.md-icon.md-theme-default.md-icon-font {
  color: rgba(0,0,0,.54);
  color: var(--md-theme-default-icon-on-background,rgba(0,0,0,.54));
}

.md-icon {
  transition: color .4s cubic-bezier(.4,0,.2,1);
  direction: ltr;
  font-family: Material Icons;
  font-feature-settings: "liga";
  font-style: normal;
  letter-spacing: normal;
  line-height: 1;
  text-rendering: optimizeLegibility;
  text-transform: none;
  word-wrap: normal;
  white-space: nowrap;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.md-icon {
  width: 24px;
  min-width: 24px;
  height: 24px;
  font-size: 24px!important;
  margin: auto;
  display: inline-flex;
  -webkit-user-select: none;
  user-select: none;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
}
.timeline-panel:hover {
  box-shadow: 0 0 12px rgba(25, 24, 24, .20);
  transform: scale(1.01) !important;
  transition: ease 0.3s !important;
}
.timeline>li.timeline-inverted>.timeline-panel {
  float: right;
  background-color: #fff;
}

.timeline.timeline-simple>li>.timeline-panel {
  width: 95%;
  overflow: hidden;
  cursor: pointer;
  transition: ease 0.3s !important;
}


.timeline>li>.timeline-panel {
  width: 45%;
  float: left;
  padding: 20px;
  margin-bottom: 20px;
  position: relative;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .14);
  border-radius: 6px;
  color: #333;
  background: #fff;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
  border-left-width: 0;
  border-right-width: 15px;
  left: -15px;
  right: auto;
}
.timeline-body p{
  font-size: 14px !important;

}
.timeline>li>.timeline-panel:before {
  position: absolute;
  top: 26px;
  right: -15px;
  display: inline-block;
  border-top: 15px solid transparent;
  border-left: 15px solid #e4e4e4;
  border-right: 0 solid #e4e4e4;
  border-bottom: 15px solid transparent;
  content: " ";
}

.timeline-heading {
  margin-bottom: 15px;
}

.badge {
  display: inline-block;
  /* min-width: 10px; */
  padding: 10px 15px !important;
  font-size: 14px !important;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  /* background-color: #777777; */
  /* border-radius: 10px; */
  border-radius: 0px !important;
}
a.chapter-list-left.m-link {
  height: 100%;
  color: #000;
  width: 100% !important;
  display: inline-flex !important;
}
// background: linear-gradient(60deg, #1c82cf, #328bcc) !important;
li.chapter-selection.menu-li {
  background-color: white;
  height: 170px !important;
  display: inline-block;
  width: 100% !important;
  text-align: center;
  position: inherit;
  cursor: pointer;
  // padding-top: 20% !important;
  // border: 1px solid rgba(0, 0, 0, .13);
}

li.chapter-selection.menu-li a.chapter-list-left.m-link.active {
  background: linear-gradient(60deg, #1c82cf, #328bcc) !important;
  height: 170px !important;
  display: inline-block;
  width: 100% !important;
  text-align: center;
  position: inherit;
  color: #fff;
  // padding-top: 20% !important;
  border: 1px solid rgba(0, 0, 0, .13);
}
ul.chapter-list-left li.chapter-selection.menu-li {
  background-color: white;
  height: 170px !important;
  display: inline-block;
  width: 100% !important;
  text-align: center;
  position: inherit;
  padding-top: 20% !important;
  border: 1px solid rgba(0, 0, 0, .13);
}
a.chapter-list-left.m-link:hover {
  color: #1f81c3 !important;
}

a.chapter-list-left.m-link.active:hover {
  color: #96d3ff !important;
}
ul.chapter-item-selection.grid.d-flex.flex-wrap.rounded.mx-auto {
  margin-left: -5px !important;
  padding-left: 0px !important;
  // position: sticky !important;
  // top: 80px;
}
.chapter-list-left {
  background-color: white;
  height: 170px;
  display: inline-block;
  width: 100%;
  text-align: center;
  position: inherit;
  padding-top: 20%;
  border: 1px solid rgba(0, 0, 0, .13);
}
.badge.badge-danger {
  // background-color: #f44336;
}

.lesson-resources-wrapper {
  position: absolute;
  float: right;
  background-color: rgba(205, 205, 205, .17%);
  display: block;
  right: 0;
  width: 410px;
  height: -webkit-fill-available;
  margin-top: -20px;
  overflow: hidden;
}

.lesson-resources-wrapper i {
  font-size: 30px;
  display: grid;
  padding-top: 31px;
  text-align: center;
  color: #b7b7b7;
}

.lesson-media-wrapper {
  height: 100%;
  /* background-color: red; */
  display: block;
  text-align: center;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;

}

.lesson-media-wrapper:hover {
  height: 100%;
  /* background-color: red; */
  display: block;
  text-align: center;
  background-color: #eaeaea;
}
.lesson-media {
  border-right: 1px solid rgba(0, 0 ,0, .06) !important;
}

.timeline-body span {
  height: 45px !important;
  display: block !important;
  font-weight: 400 !important;
  font-family: inherit;
}

span.badge.badge-danger {
  /* margin-bottom: -20px; */
  position: absolute;
  margin-left: -20px;
  margin-bottom: 30px;
  bottom: -33px;
  width: 190px;
  padding: 0px !important;
  color: #fff !important;
}
span.badge.badge-danger h6 {
  color: #fff !important;
  font-weight: 400 !important;
  text-align: left !important;
  padding-left: 10px !important;
}

.chapter-list-left.active {
  background: linear-gradient(60deg, #1c82cf, #328bcc) !important;
  color: #fff !important;
}

.el-divider__text.is-left {
  color: #777777;
  font-weight: 500;
  background-color: transparent !important;
  font-style: italic;
}

.status-badge {
  position: absolute;
  display: block;
  /* top: -50px; */
  z-index: 99;
  bottom: 25px;
  // display: inline-block;
  // left: 118px;
  /* height: 30px; */
}

.status-badge i.warning {
  font-size: 13px;
  color: indianred;
  margin-left: 10px;
}

.status-badge i.good {
  font-size: 13px;
  color: #409eff;
  margin-left: 10px;
}

// .el-popover {
//   position: absolute;
//   background: #ffe2e2 !important;
//   min-width: 150px;
//   top: 0;
//   right: 0;
//   border: 1px solid rgba(245, 108, 108, .24) !important;
//   padding: 12px;
//   color: #f56c6c !important;
//   z-index: 2000;
//   color: #606266;
//   line-height: 1.4;
//   text-align: justify;
//   font-size: 14px;
//   box-shadow: 0 2px 12px 0 rgba(0, 0, 0, .10);
//   word-break: break-all;
// }

// .el-popover__title {
//   color: #f56c6c !important;
// }

// .el-popper[x-placement^=left-start] .popper__arrow:after {
//   border-left-color: #ffe2e2 !important;
// }

// .el-popper[x-placement^=left-start] .popper__arrow { 
//   border-left-color: rgba(245, 108, 108, .24) !important;
// }

.chapter-menu {
  position: fixed;
  width: 310px !important;
  z-index: 1 !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.chapter-menu.el-col.el-col-4.moveclass {
  margin-top: -82px !important;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.chapter-title {
  font-weight: 500;
  text-transform: uppercase;
  /* font-size: 12px; */
  font-family: Roboto,Helvetica,Arial,sans-serif;
}

.chapter-sub {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-weight: 300;
  text-transform: uppercase;
}

.lesson-li-body {
  color: #7f7f7f !important;
  font-style: italic;
  text-transform: capitalize;
}

.chapter-title-wrapper {
  width: 100%;
    /* background-color: red; */
  margin-top: 30px !important;
  display: block;
}

.lesson-media-wrapper.enabled {
  background-color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.lesson-media-wrapper.enabled:hover {
  background-color: #eaeaea;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

h4.card-title-course {
  text-transform: capitalize;
}

.upload-pdf ul.el-upload-list.el-upload-list--text li.el-upload-list__item.is-success {
  height: 22px !important;
}

.lesson-section-title {
  margin-top: -71px;
  position: absolute;
  margin-left: 0;
  background-color: #eaedf0;
  color: rgba(0, 0, 0, .54);
  padding: 5px 20px;
  width: 130px;
  font-weight: 400;
}

.lesson-section {
  padding: 50px 0 70px;
}

.main-sidebar {
  z-index: 50 !important;
}

button.el-button.el-button--tiny.is-plain {
  padding: 8px 15px !important;
}